from os import getcwd, path

env = Environment()

ROOT_DIR = getcwd()


# Where temporary files, created during build process will be stored.
BUILD_DIR = path.join(ROOT_DIR, 'BUILD')

# This is temporary until we publish pybuildtool.
pybuildtool_dir = path.join(ROOT_DIR, 'PyBuildTool')

# Let pybuildtool creates rules/builders.
SConscript(path.join(pybuildtool_dir, 'SConscript'),
           exports='env ROOT_DIR BUILD_DIR')
